@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-border: var(--border);
}

@layer base {
  /* Standard (Light Mode) */
  :root {
    --background: #f5f5f4; /* Zinc-100 */
    --foreground: #09090b; /* Zinc-950 */
    --card-bg: #ffffff;
    --border: #e4e4e7;
  }

  /* Wenn next-themes die Klasse "dark" auf html setzt */
  .dark {
    --background: #000000;
    --foreground: #fafafa;
    --card-bg: #09090b; /* Zinc-950 */
    --border: #27272a;  /* Zinc-800 */
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

/* Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }